#github-voice-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  color: #FFF;
}

#github-voice-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  margin: 0 0 0 -175px;
}

#github-voice-overlay[id],
#github-voice-wrapper[id] {
  position: fixed;
}

#github-voice-wrapper .close {
  position: absolute;
  top: 10px;
  right: -14px;
  background: transparent url(../images/close.png) no-repeat;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

#github-voice-wrapper h1 {
  background: transparent;
  color: #FFF;
  margin: 0;
  padding: 0;
  font-size: 28px;
  font-weight: bold;
  font-family: Helvetica, Arial, Sans-serif;
}

#github-voice {
  background: #FFF;
  color: #555;
  padding: 16px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#github-voice p {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 1.4;
}

#github-voice ol {
  margin: 5px 0;
}

#github-voice ol li {
  padding-top: 5px;
  font-size: 12px;
  clear: left;
}

#github-voice ol li p.votes {
  background: inherit;
  color: #888;
  width: 40px;
  margin: 0;
  padding: 0;
  font-size: 10px;
  text-align: center;
  float: left;
}

#github-voice ol li p.votes em {
  background: inherit;
  color: #444;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: -1px;
  display: block;
}

#github-voice ol li h3 {
  margin: 0 0 0 45px;
  padding: 0;
  font-size: 14px;
  line-height: 1.2;
}

#github-voice ol li h3 a {
  background: inherit;
  color: #06C;
  text-decoration: none;
}

#github-voice ol li h3 a:hover {
  text-decoration: underline;
}

#github-voice p.call-to-action a {
  background: inherit;
  color: #06C;
  text-decoration: none;
  margin-top: 16px;
  padding: 7px 35px 7px 7px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: -1px;
  text-decoration: none;
  display: block;
}

#github-voice p.call-to-action a:hover,
#github-voice p.call-to-action a:hover span {
  background: #06C;
  color: #FFF;
}

#github-voice p.call-to-action a span {
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0;
}
